{% extends 'library/base.html' %}
{% block title %} Create Meme {% endblock %}

{% block content %}
<h2 class="text-center">Post your Meme</h2>
    <div class="container">
        <div class = "row col-lg-12">
            <div class="panel ">
                <form class="site-form" action="" method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                    {{ form.management_form }}
                            {% for form in form %}
                                {% for field in form %}
                                    {{ field.labels }} {{ field }}
                                {% endfor %}
                                <br><br>
                            {% endfor %}
                    <input type="submit" value="Create" name="">
                    
                </form>
                    
            </div>
        </div>
    </div>
{%endblock %}