{% extends 'library/base.html' %}
{% block title %} Create Meme {% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center">Post your Meme</h2>

</div>
<br>

    <div class="container">
        <div class = "row ml-auto">
            <div class="col-md-8">
                <form class="form-control" action="" method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                    <div class="form-group">
                           {{form.as_p}}
                         <input class="btn btn-primary btn-lg" type="submit" value="Post Meme" name="">
                    </div>

                </form>
                    
            </div>
        </div>
        <br>
    </div>
{%endblock %}