{% extends "library/base.html" %}

{% block title %} City Events {% endblock %}

{% block content %}
<div class="container">
	<h1>Events from all parts of the country</h1>
</div>
    <div class="container">
    <button class="btn-lg btn-default text"><a href="{% url 'jobs:jobsCreate' %}">Post Job</a></button>
    	
    </div>
	{% for event in queryset %}
	<div class="container">
		<div class="thumbnail">
			<img style="height:500px; width:500px;" src="{{ event.banner.url }}" alt="=images/1.jpg">
			<h1><b><a href="/cityEvent/{{event.id}}">{{event.title}}</a><b></h1>
		<h1>{{event.date_posted}}</h1>
		</div>
	
</div>
{% endfor %}
{% endblock %}