{% extends "library/base.html" %}

{% block title %} Questions and Answers {% endblock %}

{% block content %}
<div class="container">
	<h1>Events from all parts of the country</h1>
</div>
    <div class="container">
    <button class="btn-lg btn-default text"><a href="{% url 'jobs:jobsCreate' %}">Post Job</a></button>
    	
    </div>
	{% for question in queryset %}
	<div class="container">
	<h3><b><a href="/cityEvent/{{event.id }}">{{question.content|striptags}}</a><b></h3>
		<h4>{{question.date_posted|striptags}}</h4>
	<hr>
</div>

{% endfor %}
{% endblock %}