{% extends "library/base.html" %}

{% block title %} Lyfey Posts {% endblock %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}">

{% block breadcrumbs %}Home{% endblock %}
{% block content %}
<div class="container-fliud" style="background-color: grey;">
	<div class="alert alert-primary" role="alert">
		<div class="container">
			<div class="row">
				<div class="class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto">
					<br>
					<h1>Welcome To Our Blog</h1>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto">
					<form method="GET" action="">
              <div role="alert" class="alert alert-success">
                <input type="text" class="form-control" placeholder="Search Articles" value="{{ request.GET.q }}" name='query'/>
              </div>
            </form>
				</div> 
			</div> 
		</div>
	</div>
 

<div class="container">
	<div class="row border-secondary justify-content-md-center ">
		<div class="col-md-8 ">
			{% for post in queryset %}
			<div class="card" style="width: 100%;" >
				<img class="card-img-top img-thumbnail" src="{{ post.image.url }}" alt="Card image cap" height="">
				<div class="card-body">
					
				<h3 class="card-title "><b><span><a href="/blog/{{post.id}}">{{post.title|striptags}}</a></span></b></h3>
					<p class="card-title"><span class="fa fa-user" ></span> {{ post.user }} |
							<span class="fa fa-clock-o"></span> {{ post.date_published }} |Comments  <span class="badge badge-primary badge-pill">{{ post.comments.count }}</span></p>
					<p class="">{{post.body|striptags|linebreaks|truncatechars:100}}</p>
					<a href="/blog/{{post.id}}" class="btn btn-primary">Read full article</a>
		<!-- 			<p class="card-text mt-0 mb-1">{{post.body|striptags|linebreaks|truncatechars:200}}<a href="/blog/{{post.id}}" class=" ">Read more[...]</a></p> -->
				</div>
			</div>

				<hr>
				{%endfor %}
			</div>

		</div>
		<div class="container">

			<div class="pagination">
				<h3 class="text-center"><span>
					{% if queryset.has_previous %}
					<a href="?page={{ queryset.previous_page_number }}&q={{ request.GET.q">Previous</a>
					{% endif %}
				</span></h3>
				<span class="current">
					Page {{ queryset.number }} of {{queryset.paginator.num_pages}}
				</span>
				{% if queryset.has_next %}
				<a href="?page={{ queryset.next_page_number }}&q={{ request.GET.q }}">next</a>
				{% endif %}

			</div>

		</div></div>
	</div>
		{% endblock %}