{%  extends 'library/base.html' %}
{% load staticfiles %}
{% block title %}Create Job  {% endblock %}
<link href="{% static 'library/createjob.css' %}" rel="stylesheet">

{% block content %}

<div class ='container'>
	<h2>Post Job</h2>
	<form class="create-job" action="{% url 'jobs:jobsCreate' %}" method="post">
		{% csrf_token %}
        {{ form.as_p }}
        <br>
    <input id="submit" class="btn btn-lg btn-success" type="submit" value="Post Job" name="">
    <br>
		
	</form>
    <br>
    <br>
    <br>
</div>
<script >
	var button = Document.getElementByID('submit');
	button.onclick(alert 'hi');
</script>

{% endblock %}