{% extends "library/base.html" %}
{% block title %} Job Details {% endblock %}

{% block content %}
<div class="container-fliud mx-auto " style="background-color:#bdbdbd; padding: 30px;">
	<div class="row">
		<div class="col-lg-7 border border-primary shadow  ml-auto bg-white"  >

			<div class="">

				<p class="" style="font-size: 28px;"><b>Job Title:</b> {{job.title}}</p>
				<p style="font-size: 28px;">Company Name:   {{job.company_name}}</p>
				</div>
				<hr>
				<div>
					<div style="">
						<p style="font-size: 28px;"><span class="fa fa-clock"></span> {{job.date_posted|timesince}}</p>
						<h3><span class="fa fa-map-marker"></span> {{job.location}}</h3>
						<h3>Job Salary:  {{job.salary}}</h3>
						
					</div>
				</div>
				<hr>
				<div>
					<h2 > Job Description </h2>
					<p>{{job.description|striptags}}</p>
				</div>
				<hr>
			<div class="row">
				<h3><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
			Share on Facebook
			</a>| <a href="https://twitter.com/home?status={{ request.build_absolute_uri}} + {{post.title|striptags}}  ">
				Share on Twitter
			</a></h3>
			</div>
			</div>

			<div class="col-lg-5 mt-3 mb-3">
				{%  for job in jobList %}
				<div class="card shadow  bg-white rounded">
					<div class="card-body">
						<h5 class="card-title">{{job.title}}</h5>
						<p>With supporting text below as a natural lead-in to additional content.</p>
						<a href="/jobs/{{job.id}}" class="btn btn-primary">View Details</a>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
	{% endblock %}