{% extends "library/base.html" %}

{% block title %} Job Listings {% endblock %}

{% block content %}
<!-- 	    <div class="container col-md-8 col-md-offset-2">

        <div class="container">
            <form action="/search" method="GET">
                <div class="row col-md-7 col-md-offset-3">
                    <div class="input-group">
                        
                        <span class="input-group-btn">
                        <button class="btn btn-default btn-lg btn-info" type="submit">图书检索</button>
                    </span>
                    </div>
                </div>
            </form>
        </div>
        <h2 id='hint' class="label-success col-md-5 col-md-offset-4"></h2>

    </div> -->
    <div class="container">
    <button class="btn-lg btn-default text"><a href="{% url 'jobs:jobsCreate' %}">Post Job</a></button>
    	
    </div>
	{% for job in queryset %}
	<div class="container">
	<h1><b><a href="/jobs/{{job.id}}">{{job.title}}</a><b></h1>
		<h1>{{job.date_posted}}</h1>
		<h1>{{job.posted_by}}</h1>
	<hr>
</div>
	{%endfor %}

{% endblock %}